.timeline-graph-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #f9f9f9;
}

.timeline-graph-container svg {
  display: block;
  cursor: grab;
}

.timeline-graph-container svg:active {
  cursor: grabbing;
}
